@import './base.css';

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: #9e9e9e83; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

#app {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  font-weight: normal;
  overflow: hidden;
  max-height: 100vh;
}

a,
.green {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.4s;
  padding: 3px;
}

.carregando {
  animation: loading 1s infinite linear;
  border: 2px solid rgba(30, 30, 30, 0.5);
  border-left: 4px solid #fff;
  border-radius: 50%;
  height: 50px;
  margin-bottom: 10px;
  width: 50px;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (max-width: 425px) {
  #app {
    display: flex;
    flex-direction: column;
  }
}
